# Lists

## Introduction to lists

Lists in Python represent ordered sequences of values. By looking at its syntax, it will remind some of row and column vectors in matrix representation theory. An example of a list is seen below:

In [1]:
primes = [2, 3, 5, 7]

In [2]:
type(primes)
# lists are their own type of data.

list

In [3]:
primes[0] #calling on the element in the 0th position; 0th position is actually the first position.

2

In [4]:
primes[1] #calling on the element in the 1st position

3

In [5]:
primes[-1] #calling on the element in the last position

7

In [6]:
primes[-2] #calling on the element in the second last position

5

The example above was a list with numerical values; we can also make lists like the following:

In [7]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [8]:
print(planets[0],'is the closest planent next to the Sun. Next is',planets[1])

Mercury is the closest planent next to the Sun. Next is Venus

We can even make a list of lists; what some will notice is that it looks similar to matrices in matrix representation theory:

In [9]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]

# (You can also write this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

You can also have different datatypes mixed into your list:

In [10]:
mixed_list = ['Table', 34, True]

## Indexing

I have already used indexing in an example; it is when I call upon an element in a list.

In [11]:
planets[0]

'Mercury'

Indexing starts at 0, not 1. If you have an incredibly long list and you do not know how many elements it has, it is still possible to call upon the last element in the list:

In [12]:
planets[-1]

'Neptune'

Same with the second last element, and so on:

In [13]:
print(planets[-2],planets[-3],planets[-4], '...', sep=', ')

Uranus, Saturn, Jupiter, ...

## Slicing

What if we don't want all the elements from a list, but simply the first three? That is possible:

In [14]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

Consider the syntax: we are saying that in the list `planets`, start from index 0, and provide 3 elements including the provided, starting element. However, it won't provide the element in index 3, since it counts 0; 1; 2 (three elements starting from the element in the index 0 position).

The starting and ending indices are both optional. If we leave out the starting index, it is assumed to be 0. So rewriting the expression above as:

In [15]:
planets[:3]

['Mercury', 'Venus', 'Earth']

Leaving out the end index, it is assumed to be the length of the list, i.e. it will slice it from the starting position, all the way to the end of the original list.

In [16]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

We can also use negative indices when slicing:

In [17]:
# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [18]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

## Changing lists

Lists are "mutable", meaning they can be modified "in place". One way to modify a list is to assign it to an index or slice expression.

For example, let's say we want to rename Mars:

In [19]:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

Quite a mouthful, let us compensate by shortening the names of the first 3 planets:

In [20]:
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)

['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

All of this looks rather silly, let's put the list back to the way it was:

In [21]:
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars']
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

## List functions

Python has quite several useful functions when working with lists; an example of one is `len`, which gives the length of a list (i.e. how many elements are within the list).

In [22]:
# How many planets are there?
len(planets)

8

Another example of a useful function to use for lists is `sorted`, which returns a list in alphabetical order:

In [23]:
# The planets sorted in alphabetical order
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

Another commonly used function for lists with numerical values is `sum`:

In [24]:
primes = [2, 3, 5, 7]
sum(primes)

17

`min` and `max` can also be used for numerical list:

In [25]:
print(min(primes), max(primes), sep='\n')

2
7

## Interlude: objects

The term 'object' has been used a lot so far. You may have read that everything in Python is an object, but what does that mean?

In short, objects carry some things around with them; you can access that stuff using Python's dot syntax.

For example, numbers in Python carry around an associated variable called `imag` representing their imaginary part - this is part of complex numbers.

In [26]:
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)

0
3.0

The things an object carries around can also include functions. A function attached to an object is called a **method**. Non-function things attached to an object, such as `imag`, are called *attributes*. These are rather important to understand since they will appear often in the future.

An example of a method for numbers is called `bit_length`:

In [27]:
x.bit_length

We did not call the function properly; to do so, we must add parenthesis at the end:

In [28]:
x.bit_length()

4

[Aside: You've actually been calling methods already if you've been doing the exercises. In the exercise notebooks, q1, q2, q3, etc. are all objects which have methods called check, hint, and solution.]

In the same way that we can pass functions to the help function (e.g. help(max)), we can also pass in methods:

In [29]:
help(x.bit_length)

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

The example of methods used for demonstration is highly unlikely to be used by the common Python user. There are more commonly used methods, and we will look at them in more detail in the next subsection.

## List methods

If you wish to add items/elements to your list, you can use the list method `list.append`

In [30]:
# Pluto is a planet darn it!
planets.append('Pluto')

You might be asking yourself why the append cell did not have an output; let's what the `help` function has to say about it:

In [32]:
help(planets.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

The `-> None` part is telling us that `list.append` doesn't return anything. However, if we check the value of planets, we can see that the method call modified the value of `planets`:

In [33]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

`list.pop` removes and returns the last element of a list:

In [34]:
planets.pop()

'Pluto'

In [35]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

## Searching lists

It is possible to find the index location of an item in a list if you know the item's name:

In [36]:
planets.index('Earth')

2

This means 'Earth' is in the index 2 position, which is the third item. Remember that index 0 means the first position, thus index n is the n+1 position.

In [37]:
planets.index('Pluto')

ValueError: 'Pluto' is not in list

This is to be expected since we removed 'Pluto' from our list.

We are able to return boolean values in regards to lists by using the `in` operator; in other words, we can check if certain items/elements are contained within lists:

In [38]:
# Is Earth a planet?
"Earth" in planets

True

In [39]:
# Is Europa a planet?
"Europa" in planets

False

There are plenty of list methods we have not covered here; if you wish to see all available methods, run `help(planets)` to see them:

In [40]:
help(planets)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Tuples

Tuples are very similar to lists, but there are distinct differences. For one, their syntax uses round brackets instead of square brackets:

In [41]:
tup = (1,2,3)

In [42]:
tup

(1, 2, 3)

It is also possible to create them as follows:

In [43]:
tuup = 1, 2, 3

In [44]:
tuup

(1, 2, 3)

Another key difference is that tuples are immutable; they cannot be modified:

In [45]:
tup[0] = 100

TypeError: 'tuple' object does not support item assignment

So why would someone use tuples over lists? Well, tuples are often used for functions that have multiple return values. For example, the `as_integer_ratio()` method of float objects returns a numerator and a denominator in the form of a tuple:

In [46]:
x = 0.125
x.as_integer_ratio()

(1, 8)

These multiple return values can be individually assigned as follows:

In [47]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

The use of tuples in this manner greatly reduces the lines of code that would be needed otherwise to achieve the same result.

Lastly, we can perform the trick of swapping variable values around by using a tuple:

In [48]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

In [49]:
a

0

In [50]:
b

1