## The purpose of this section is to introduce  Python syntax, variable assignment, and numbers.

# 1. Hello, Python

In [18]:
spam_amount = 0       #defining the variable spam_amount with the assigned value of 0
print(spam_amount)    #printing out the value of the variable

0

In [19]:
# Ordering Spam, egg, Spam, Spam, bacon and Spam (4 more servings of Spam)
spam_amount = spam_amount + 4
print(spam_amount)

4

The cell above reassigns the value of the variable "spam_amount" by adding 4 to its existing value.

In [20]:
if spam_amount > 0:
    print("But I don't want ANY spam!")
 #An if condition that, if met, will print the string above.
 #There is no else statement, so if the if statement was not met, running the cell would have no return.

But I don't want ANY spam!

In [21]:
viking_song = "Spam " * spam_amount  
#Defining a new variable that multiplies the string "Spam" with the value recorded in spam_amount
print(viking_song)
#Prints out the value recorded in the variable "viking_song".

Spam Spam Spam Spam

# 2. Number and arithmetic in Python

In [23]:
spam_amount = 0
type(spam_amount)

int

The cell above assigns the variable "spam_amount" with the value of 0, thus making it an integer-valued variable.
The function 'type' returns the type of data that is within its argument, i.e. what you put in the round brackets.

In [24]:
float_var = 1.1
type(float_var)

float

A 'float' is what we normally consider a real/measured/decimal number. The difference between float and int is that int is a data type related to counting, either forward or backwards, which is exactly what an integer is. The simple difference between the two data types is that one has a decimal point and the other doesn't.

In [36]:
float_var_v1 = 1
float_var_v2 = 1.0
float_var_v3 = 1.5

print(type(float_var_v1), type(float_var_v2), type(float_var_v3))

<class 'int'> <class 'float'> <class 'float'>

Notice how the difference between float_var_v1 and float_var_v2 is essentially a decimal point and the 0 following. Therefore, float_var_v1 is, in fact, not a float variable, but an integer variable. float_var_v3 is included for completeness of the demonstration.

In [48]:
print(5/2)
print(6/2)
print(6+2)
print(6-2)
print(6*2)
print(22/7)

import math    #importing the math package to make use of the universal constant pi.
print(math.pi)

2.5
3.0
8
4
12
3.142857142857143
3.141592653589793

Division, even with integers, returns a float. Addition, subtraction and multiplication of integers returns an int.

In [52]:
#Floor division
print(5//2)  # 5 divided by 2 is 2.5, but the floor value takes it to 2.
print(6//2)  # 6 divided by 3 is 3.0, so the floor value makes it the integer 3.
######################################################################################
print(5/2 - 5//2)  # returns what was removed from the floor function to return the floor value
print(6/2 - 6//2)  # Notice that the subtraction between a float and an int returns a float.

2
3
0.5
0.0

All floor divisions return integers.

In [57]:
#Modulus
print(5%2) # this reads as 5 mod 2, which means the remainder of the division 5/2
#-----------------------------------------------------------------------------------------------------------
# Recall that we don't have to read a division result in decimal or fraction format; in the case of 5/2, 
# we can read the result as 2 remainder 1. The remainder 1 is the result of 5 mod 2.
#-----------------------------------------------------------------------------------------------------------
print(2%5) # the division 2/5 can be read as 0 remainder 2; therefore 2 mod 5 is 2.
#-----------------------------------------------------------------------------------------------------------
print(6%3) # the division 6/3 is 3 with no remainders.
print(-18%3) # the division 6/3 is 3 with no remainders.

1
2
0
0

For p mod q, if p = nq where n is an element of the set of integers, then the result is always 0.

In [67]:
#PEMDAS
print(5 - 2 + 1)        # 5 minus 2 plus 1
print(5 * 2 + 1)        # 5 times 2 plus 1
print(5 - 2 * 1)        # 2 times 1, then 5 subtracts the result
print((5 - 2) * 2)      # 5 minus 2, then multiply the result by 2
print(5 - 2 / 1)        # 2 divided by 1, then 5 subtracts the result
print(5 // 2 + 1)       # floor division of 5 by 2, then add 1
print((5 % 2)**3 + 1)  # 5 mod 2, raise the result to the power of 3, and then add 1

4
11
3
6
3.0
3
2

In [68]:
hat_height_cm = 25
my_height_cm = 190
# How tall am I, in meters, when wearing my hat?
total_height_meters = hat_height_cm + my_height_cm / 100
print("Height in meters =", total_height_meters, "?")

Height in meters = 26.9 ?

Above is a demonstration of poorly constructing the mathematics to compute the total height. Below is the proper way to do it:

In [69]:
total_height_meters = (hat_height_cm + my_height_cm) / 100
print("Height in meters =", total_height_meters)

Height in meters = 2.15

Parentheses saves the day! Math's safety net.

# Built-in math functions

In [73]:
print(min(1, 2, 3))   #prints the minimum value in the list provided
print(min(1.0, 2, 3)) #min can distinguish values between float and int data types
print(max(1, 2, 3))   #prints the maximum value in the list provided
print(max(1, 2, 3.0)) #max can distinguish values between float and int data types

1
1.0
3
3.0

In [74]:
print(abs(123))
print(abs(-123))
print(-abs(123))

123
123
-123

The absolute value of a number always returns a positive value; it is a piecewise function that ensures the result is always positive. The third print is a cheeky one since the result of using abs is then multiplied by -1 which makes the result negative.

In [78]:
#Converting data types
print(float(7))        # 7 is an int, and it gets converted to a float, i.e. 7 --> 7.0
print(int(3.833))      # 3.833 is a float, and it gets converted to an int. 
                       # This normally doesn't make sense, but Python treats this situation like a
                       # floor function in this case.
print(int('807') + 1)  # Converts the string to an int to perform a mathematical operation

10.0
3
808

In [79]:
int(float(str(83.34))) # it is possible to chain the conversions starting from the inner function working outwards

83

This ends the tutorial section of the 1st topic of the course; next will be the corresponding exercise section.